appdirs==1.4.2
beautifulsoup4==4.5.3
lxml==4.6.3
numpy==1.22.0
olefile==0.44
packaging==16.8
pandas==0.19.2
Pillow==8.1.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-pptx==0.6.2
pytz==2016.10
six==1.10.0
XlsxWriter==0.9.6
